.lottery-report-btn{
    background: url("../images/lottery-report.jpeg") 0 0 no-repeat scroll transparent;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
}
.lottery-report-c-c{
    display:block;
    position:absolute;
    top:20%;
    left:30%;
    width:400px;
    min-height:600px;
}
.lottery-report-c{
    display:block;
    position:relative;
    width:400px;
    min-height:600px;
    overflow:scroll;
    background:#fff;
    border: 1px solid #0073aa;
    padding: 5px 10px;
}
.lottery-report-c table tr th{
    font-weight:bold;
    padding:5px;
    text-align:center;
}
.lottery-report-c table tr td{
    padding:5px;
    text-align:left;
}
.lottery-report-cnt{
    float:left;
    font-weight:bold;
    padding:5px 10px 5px;
}
.lottery-report-cp{
    display:inline-block;
    float:right;
    cursor:pointer;
    padding:5px;
}

